<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysVehicleRegistrationApplicationMapper">
    
    <resultMap type="SysVehicleRegistrationApplication" id="SysVehicleRegistrationApplicationResult">
        <result property="carrierName"    column="carrier_name"    />
        <result property="carrierDomesticPhone"    column="carrier_domestic_phone"    />
        <result property="carrierOverseasPhone"    column="carrier_overseas_phone"    />
        <result property="confirmedReportType"    column="confirmed_report_type"    />
        <result property="licenseNumber"    column="license_number"    />
        <result property="international Permit"    column="international _permit"    />
        <result property="vehiclePhoto"    column="vehicle_photo"    />
        <result property="vehicleRegistrationCertificate"    column="vehicle_registration_certificate"    />
        <result property="vehicleCustomsRegistrationCertificate"    column="vehicle_customs_registration_certificate"    />
        <result property="driverPassport"    column="driver_passport"    />
        <result property="createTime"    column="create_time"    />
        <result property="dateTime"    column="date_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysVehicleRegistrationApplicationVo">
        select carrier_name, carrier_domestic_phone, carrier_overseas_phone, confirmed_report_type, license_number, international _permit, vehicle_photo, vehicle_registration_certificate, vehicle_customs_registration_certificate, driver_passport, create_time, date_time, create_by, update_by, remark from sys_vehicle_registration_application
    </sql>

    <select id="selectSysVehicleRegistrationApplicationList" parameterType="SysVehicleRegistrationApplication" resultMap="SysVehicleRegistrationApplicationResult">
        <include refid="selectSysVehicleRegistrationApplicationVo"/>
        <where>  
            <if test="carrierDomesticPhone != null "> and carrier_domestic_phone = #{carrierDomesticPhone}</if>
            <if test="carrierOverseasPhone != null "> and carrier_overseas_phone = #{carrierOverseasPhone}</if>
            <if test="confirmedReportType != null  and confirmedReportType != ''"> and confirmed_report_type = #{confirmedReportType}</if>
            <if test="licenseNumber != null  and licenseNumber != ''"> and license_number = #{licenseNumber}</if>
            <if test="international Permit != null  and international Permit != ''"> and international _permit = #{international Permit}</if>
            <if test="vehiclePhoto != null  and vehiclePhoto != ''"> and vehicle_photo = #{vehiclePhoto}</if>
            <if test="vehicleRegistrationCertificate != null  and vehicleRegistrationCertificate != ''"> and vehicle_registration_certificate = #{vehicleRegistrationCertificate}</if>
            <if test="vehicleCustomsRegistrationCertificate != null  and vehicleCustomsRegistrationCertificate != ''"> and vehicle_customs_registration_certificate = #{vehicleCustomsRegistrationCertificate}</if>
            <if test="driverPassport != null  and driverPassport != ''"> and driver_passport = #{driverPassport}</if>
            <if test="dateTime != null "> and date_time = #{dateTime}</if>
        </where>
    </select>
    
    <select id="selectSysVehicleRegistrationApplicationByCarrierName" parameterType="String" resultMap="SysVehicleRegistrationApplicationResult">
        <include refid="selectSysVehicleRegistrationApplicationVo"/>
        where carrier_name = #{carrierName}
    </select>

    <insert id="insertSysVehicleRegistrationApplication" parameterType="SysVehicleRegistrationApplication">
        insert into sys_vehicle_registration_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carrierName != null">carrier_name,</if>
            <if test="carrierDomesticPhone != null">carrier_domestic_phone,</if>
            <if test="carrierOverseasPhone != null">carrier_overseas_phone,</if>
            <if test="confirmedReportType != null and confirmedReportType != ''">confirmed_report_type,</if>
            <if test="licenseNumber != null">license_number,</if>
            <if test="international Permit != null and international Permit != ''">international _permit,</if>
            <if test="vehiclePhoto != null">vehicle_photo,</if>
            <if test="vehicleRegistrationCertificate != null and vehicleRegistrationCertificate != ''">vehicle_registration_certificate,</if>
            <if test="vehicleCustomsRegistrationCertificate != null">vehicle_customs_registration_certificate,</if>
            <if test="driverPassport != null and driverPassport != ''">driver_passport,</if>
            <if test="createTime != null">create_time,</if>
            <if test="dateTime != null">date_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carrierName != null">#{carrierName},</if>
            <if test="carrierDomesticPhone != null">#{carrierDomesticPhone},</if>
            <if test="carrierOverseasPhone != null">#{carrierOverseasPhone},</if>
            <if test="confirmedReportType != null and confirmedReportType != ''">#{confirmedReportType},</if>
            <if test="licenseNumber != null">#{licenseNumber},</if>
            <if test="international Permit != null and international Permit != ''">#{international Permit},</if>
            <if test="vehiclePhoto != null">#{vehiclePhoto},</if>
            <if test="vehicleRegistrationCertificate != null and vehicleRegistrationCertificate != ''">#{vehicleRegistrationCertificate},</if>
            <if test="vehicleCustomsRegistrationCertificate != null">#{vehicleCustomsRegistrationCertificate},</if>
            <if test="driverPassport != null and driverPassport != ''">#{driverPassport},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="dateTime != null">#{dateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysVehicleRegistrationApplication" parameterType="SysVehicleRegistrationApplication">
        update sys_vehicle_registration_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierDomesticPhone != null">carrier_domestic_phone = #{carrierDomesticPhone},</if>
            <if test="carrierOverseasPhone != null">carrier_overseas_phone = #{carrierOverseasPhone},</if>
            <if test="confirmedReportType != null and confirmedReportType != ''">confirmed_report_type = #{confirmedReportType},</if>
            <if test="licenseNumber != null">license_number = #{licenseNumber},</if>
            <if test="international Permit != null and international Permit != ''">international _permit = #{international Permit},</if>
            <if test="vehiclePhoto != null">vehicle_photo = #{vehiclePhoto},</if>
            <if test="vehicleRegistrationCertificate != null and vehicleRegistrationCertificate != ''">vehicle_registration_certificate = #{vehicleRegistrationCertificate},</if>
            <if test="vehicleCustomsRegistrationCertificate != null">vehicle_customs_registration_certificate = #{vehicleCustomsRegistrationCertificate},</if>
            <if test="driverPassport != null and driverPassport != ''">driver_passport = #{driverPassport},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="dateTime != null">date_time = #{dateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where carrier_name = #{carrierName}
    </update>

    <delete id="deleteSysVehicleRegistrationApplicationByCarrierName" parameterType="String">
        delete from sys_vehicle_registration_application where carrier_name = #{carrierName}
    </delete>

    <delete id="deleteSysVehicleRegistrationApplicationByCarrierNames" parameterType="String">
        delete from sys_vehicle_registration_application where carrier_name in 
        <foreach item="carrierName" collection="array" open="(" separator="," close=")">
            #{carrierName}
        </foreach>
    </delete>
</mapper>